# Include the package directory
include argo_app/*.py
include argo_app/src/*.py

# Include the setup.py file
# include setup.py

# Exclude unnecessary directories and files
exclude dev/*
exclude conf/*
exclude dist/*
exclude figs/*
exclude ref/*
exclude scripts/*
exclude .gitignore
exclude Dockerfile
exclude docker-compose.yml
exclude *.md
exclude argo_app/odbargo_app.egg-info/*
