[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argopy = "==0.1.15"
gunicorn = "==22.0.0"
pydantic = "==2.8.2"
uvicorn = "==0.30.5"
fastapi = {extras = ["standard"], version = "==0.112.0"}

[dev-packages]

[requires]
python_version = "3.11"
